/* App container styles */
div.topbar {
  display: grid;
  grid-template-columns: 70vw 30vw;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}

/* Navbar styles */
nav {
display: inline-flex;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 10vw 0 0;
}
ul.nav li {
  float: right;
}

ul.nav li a {
  display: inline-block;
  text-align: center;
  padding-right: 1vw;
  text-decoration: none;
  color: #000;
  margin-bottom: 1%;
  font-size: 1vw;
  font-family: sans-serif;
}

nav a {
  color: #000;
  text-decoration: none;
  margin-bottom: 1%;
  font-size: 1vw;
  font-family: sans-serif;
  text-align: center;
  padding: 1vw;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content styles */
h1 {
  font-size: 2vw;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10vw;
}

div.topbar {
  box-shadow: #333333;
  width: 99vw;
}

router-outlet {
  margin: 0px;
}
